@{
    ViewBag.Title = "About Me";
}

<h1>@ViewBag.Title</h1>

<p>
    I am a software developer specializing in web and mobile app development in ASP.NET Core, .NET MAUI, Django and Laravel. I am also a full-time college student studying Cyber Security Analytics at Mohawk College, looking to broaden my knowledge of security, both in networks and web applications, to deliver the best and most secure products that I can.
</p>

<p>
    My journey in software development began in high school where I took courses in computer engineering and computer science, which transferred over to college where I did the first year of the Computer Engineering Technician - Mechatronic Systems program at Mohawk College before switching to their Software Development program, which I graduated from in 2024.
</p>

<p>
    I look forward to working with your business in the future! If you are interested in working with me, or if you have any questions in general, please visit my <a href="#">contact form</a>.
</p>