@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Last Updated: @DateTime.Now.ToShortDateString()</p>

<section id="overview">
    <h1>Overview</h1>
</section>

<section id="definitions">
    <h1>Definitions</h1>
</section>

<section id="information-collection-and-use">
    <h1>Information Collection and Use</h1>
</section>

<section id="usage-of-data">
    <h1>Usage of Data</h1>
</section>

<section id="legal-bases">
    <h1>Legal Basis for Processing Personal Data</h1>
    
    <section id="pipeda-legal-basis">
        <h2>Under the Personal Information Protection and Electronic Documents Act ("PIPEDA")</h2>
    </section>

    <section id="gdpr-legal-basis">
        <h2>Under the General Data Protection Regulation ("GDPR")</h2>
    </section>
</section>

<section id="data-retention">
    <h1>Data Retention</h1>
</section>

<section id="data-transfer">
    <h1>Data Transfer</h1>
</section>

<section id="data-disclosure">
    <h1>Data Disclosure</h1>
</section>

<section id="data-security">
    <h1>Data Security</h1>
</section>

<section id="data-protection-rights">
    <h1>Your Data Protection Rights</h1>

    <section id="pipeda-rights">
        <h2>Under PIPEDA</h2>
    </section>

    <section id="gdpr-rights">
        <h2>Under GDPR</h2>
    </section>
</section>

<section id="contact-us">
    <h1>Contact Us</h1>
</section>